<h4>All reviews for Red Lobster Restaurant shown below: </h4><br /> 

<a href="/new">Create New Review</a>

<%  @review.each do |r| %> 
	
	Review by <%= r.name %><br /> 
	<ul>
		<li>Title: <%= r.title %></li>
		<li>Description: <%= r.description %></li>
		<li>Stars: <%= r.star_count %></li>
	</ul> 

<% end %> 
